/* Selector {
	Property: value;
	} */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rampart+One");
body {
	background-image: url(Parchment.jpg);
	background-size: cover;
}

.mainContent {
	
}

.udemyCourse {
	border: 5px solid black;
	width: 375px;
}

.flavorImg {
	width: 390px;
}

.float-child {
	float: left;
}

.noUnderline {
	text-decoration: none; 
}

h2 {
	color: Navy;
	cursor: pointer;
	font-family: 'Rampart One';
}

p {
	color: slategray;
}

li {
	list-style: none;
	border-spacing: separate;
	border-style: solid;
	border: 2px outset;
	border-radius: 3px;
	display: inline-flex;
	padding: 3px 10px;
	margin: 3px 5px;
}

li:hover {
	font-weight: bold;
}

img {
	float: right;
	width: 390px;
}

footer {
	text-align: right;
	font-style: italic;
	clear: both;
}